.responsive-box{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;

}


/* small devices(ohone) */

@media (max-width: 480px){
    .responsive-box{
        background-color: red;
        font-size: 14px;
    }
}

/* medium devices (tablet) */

@media (min-width:481px) and (max-width:768px){
    .responsive-box{
        background-color: green;
        font-size: 14px;
    }
}

/* large devices (desktop) */

@media (min-width: 769px){
    .responsive-box{
        background-color: blue;
        font-size: 24px;
    }
}